{% extends "base.html" %}

{% block head %}
<meta charset="utf-8" />
<title>Create</title>
<link rel="stylesheet" href="{{url_for('static', filename='dracula.css')}}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"
    defer></script>
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/styles/default.min.css">-->
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/highlight.min.js"></script>
<!-- and it's easy to individually load additional languages -->
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/languages/glsl.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='render.js')}}" defer></script>
<script type="text/javascript" src="{{url_for('static', filename='create.js')}}" defer></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row">
                <canvas id="fractal" width="1066" height="600"></canvas>
            </div>
            <form id="fractal-form" class="needs-validation" method="post" novalidate>
                <div class="row">
                    <div class="col">
                        <div class="form-group has-validation">
                            <label for="iterations">Iterationen</label>
                            <input class="form-control" name="iterations" title="Die maximale Anzahl an Iterationen. Falls die Folge für einen Punkt innerhalb dieser Iterationen nicht divergiert, ist dieser Punkt Teil der Fraktal Menge." style="margin-right: 100px" id="iterations"
                                type="text" {% if iterations %} value="{{iterations}}" {% else %} value="1000" {% endif %}required></input>
                            <div class="invalid-feedback">Die Iterationen müssen ein Integer sein</div>
                        </div>
                        <div class="form-group">
                            <label for="escape_radius">Radius</label>
                                <input class="form-control" title="Der Schwellenwert für den ein Folgenglied als divergiert gilt" name="escape_radius" id="escape_radius" type="text" {% if escape_radius %} value="{{escape_radius}}" {% else %} value="4" {% endif %}
                                required></input>
                            <div class="invalid-feedback">Der Radius muss ein float sein</div>
                        </div>
                        <div class="form-group">
                            <label for="formula">Formel</label>
                            <input class="form-control" title="Dieses System kann eine Teilmenge der Folgengleichungen der Form z_(n+1)=f(x) verarbeiten. In diesem Feld wird die spezifische Form der Funktion f(x) eingetragen. Es stehen folgende Variablen zur Verfügung:&#013;z: Das komplexe Folgenglied z_n&#013;zx: Der reelle Teil von z_n&#013;zy: Der imaginäre Teil von z_n&#013;c: Die zugehörige Komplexe Zahl zu einen Bildpunkt&#013;cx: Der reelle Teil von c&#013;cy: Der komplexe Teil von c&#013;I: Die komplexe Einheit&#013;Implizite Multiplikation ist nicht valide" name="formula" id="formula" type="text" {% if formula %} value="{{formula}}" {% else %} value="z^2+c" {% endif %}
                                required></input>
                            <div class="invalid-feedback">Die Formel kann nicht umgeformt werden</div>
                        </div>
                        <div class="form-group">
                            <label for="center-x">X Zentrum</label>
                            <input class="form-control" title="Der Reelle Anteil des Zentrums des Bildes" name="center_x" id="center-x" type="text" {% if center_x %} value="{{center_x}}" {% else %} value="-1.0" {% endif %}
                                required></input>
                            <div class="invalid-feedback">Der reelle Anteil des Zentrums muss ein float sein</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="center-y">Y Zentrum</label>
                            <input class="form-control" title="Der Imaginäre Anteil des Zentrums des Bildes" name="center_y" id="center-y" type="text" {% if center_y %} value="{{center_y}}" {% else %} value="0.0" {% endif %}
                                required></input>
                            <i class="question"></i>
                            <div class="invalid-feedback">Der imaginäre Anteil des Zentrums muss ein float sein</div>
                        </div>
                        <div class="form-group">
                            <label for="width">Breite</label>
                            <input class="form-control" title="Die Breite des Bildes im Raum des Fraktals" name="width" id="width" type="text" {% if width %} value="{{width}}" {% else %} value="3.55" {% endif %}
                                required></input>
                            <div class="invalid-feedback">Die Breite muss ein float sein</div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="name">Name</label><br>
                            <input class="form-control" name="name" id="name" type="text" {% if name %} value="{{name}}" {% endif %} required></input>
                            <div class="invalid-feedback">Der Name kann nicht leer sein</div>
                        </div>
                        <div onclick="submitForm()" class="btn btn-success mt-4 mx-2">Speichern</div>
                        <div id="render-button" class="btn btn-primary mt-4 mx-2" onclick="render()">Rendern</div>
                        <div class="btn btn-primary mt-4 mx-2" onclick="fullscreen()">Fullscreen</div>
                        <input name="preview" type="hidden" id="preview"></input>
                    </div>
                </div>
            </form>
        </div>
        <div class="col">
            <pre id="fragment_shader" class="language-glsl"><pre>
        </div>
    </div>
    
    <canvas id="preview-canvas" width="288" height="162" hidden="hidden"></canvas>
</div>
{% endblock %}