{% extends "base.html" %}

{% block head %}
    <meta charset="utf-8" />
    <title>Home</title>
    <script type="text/javascript" src="{{url_for('static', filename='render.js')}}" defer></script>
{% endblock %}

{% block content %}
    <canvas id="glcanvas" width="1920" height="1080"></canvas>
    <button onclick="document.querySelector('#glcanvas').requestFullscreen()">Fullscreen</button>

    <script>
        window.onload = () => {
            render_default_burning_ship("#glcanvas");
        }
    </script>
{% endblock %}
